venv/
.venv/
__pycache__/
.env
*.log
*.sqlite
node_modules/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.coverage
htmlcov/
.pytest_cache/ 